gunicorn
Flask
Flask-Bootstrap
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
flask_socketio
flask_compress
Jinja2
requests
SQLAlchemy==1.3.0
Werkzeug
WTForms
pandas
psycopg2
unidecode
waitress