gunicorn
Flask
Flask-Bootstrap
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy==2.5.1
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy==1.3.0
visitor
Werkzeug
WTForms
pandas
flask_compress
flask_socketio
unidecode