{% extends "base.html" %}

{% block css %}
<style>
    .alphabet-img{
        width: 80vw;
        max-width: 1000px;
        max-height: 610px;
        height: calc(80vw * .61);
    }
</style>
{% endblock %}

{% block body %}
<a href="{{ url_for('lessons') }}">
    <svg class="svg-x" width="16" height="16" viewBox="0 0 16 16">
        <g fill="none" fill-rule="evenodd">
            <path 
            fill="#fff"
            d="M6.93 8l-4.7-4.7a.76.76 0 1 1 1.06-1.08L8 6.92l4.7-4.7a.76.76 0 0 1 1.08 1.07L9.08 8l4.7 4.7a.76.76 0 1 1-1.07 1.08L8 9.08l-4.7 4.7a.76.76 0 0 1-1.08-1.07L6.92 8z">
            </path>
        </g>
    </svg>
</a>
<div class="center">
    <h1 class="title">The alphabet and pronunciation</h1>
</div>
<div class="center">The german alphabet has 30 letters and it's very easy to remember</div>
<div class="center">
    <table>
        <tr>
            <th>Letter</th>
            <th>Pronunciation</th>
        </tr>
        <tr>
            <td>A</td>
            <td>A</td>
        </tr>
        <tr>
            <td>B</td>
            <td>Be</td>
        </tr>
        <tr>
            <td>C</td>
            <td>Tse</td>
        </tr>
        <tr>
            <td>D</td>
            <td>De</td>
        </tr>
        <tr>
            <td>E</td>
            <td>E</td>
        </tr>
        <tr>
            <td>F</td>
            <td>Ef</td>
        </tr>
        <tr>
            <td>G</td>
            <td>Ge</td>
        </tr>
        <tr>
            <td>H</td>
            <td>Ha</td>
        </tr>
        <tr>
            <td>I</td>
            <td>I</td>
        </tr>
        <tr>
            <td>J</td>
            <td>Jot</td>
        </tr>
        <tr>
            <td>K</td>
            <td>Ka</td>
        </tr>
        <tr>
            <td>L</td>
            <td>El</td>
        </tr>
        <tr>
            <td>M</td>
            <td>Em</td>
        </tr>
        <tr>
            <td>N</td>
            <td>En</td>
        </tr>
        <tr>
            <td>O</td>
            <td>O</td>
        </tr>
        <tr>
            <td>P</td>
            <td>Pe</td>
        </tr>
        <tr>
            <td>Q</td>
            <td>Ku</td>
        </tr>
        <tr>
            <td>R</td>
            <td>Er</td>
        </tr>
        <tr>
            <td>S</td>
            <td>Es</td>
        </tr>
        <tr>
            <td>T</td>
            <td>Te</td>
        </tr>
        <tr>
            <td>U</td>
            <td>U</td>
        </tr>
        <tr>
            <td>V</td>
            <td>Fau</td>
        </tr>
        <tr>
            <td>W</td>
            <td>Ve</td>
        </tr>
        <tr>
            <td>X</td>
            <td>Iks</td>
        </tr>
        <tr>
            <td>Y</td>
            <td>Ypsilon</td>
        </tr>
        <tr>
            <td>Z</td>
            <td>Zet</td>
        </tr>
    </table>
</div>
{% endblock %}