{% extends "base.html" %}

{% block css %}
<style>
    .alphabet-img{
        width: 80vw;
        max-width: 1000px;
        max-height: 610px;
        height: calc(80vw * .61);
    }
</style>
{% endblock %}

{% block body %}
<div class="center">
    <h1 class="title">The alphabet and pronunciation</h1>
</div>
<div class="center">The German alphabet has 30 letters and it's very easy to remember</div>
<div class="center">
    <img class="alphabet-img" src="{{url_for('static', filename='images/the_alphabet.png')}}" alt="">
</div>
{% endblock %}