{% extends "base.html" %}

{% block css %}
<style>
    .option {
        padding: 15px;
        width: 90%;
    }

    .option:hover {
        background: var(--gradient-right);
    }
</style>
{% endblock %}

{% block page_title %}Choose a topic{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="center">
    <div class="error">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="center">
    <div style="margin-top: 20px;" class="container">

        <a href="../vocabulary_for_topic/_environment-landscape">
            <div class="center">
                <div class="option">
                    <div class="center">Landscape</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/_environment-weather">
            <div class="center">
                <div class="option">
                    <div class="center">Weather</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/_environment-rocks">
            <div class="center">
                <div class="option">
                    <div class="center">Rocks</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/_environment-minerals">
            <div class="center">
                <div class="option">
                    <div class="center">Minerals</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/_environment-animals">
            <div class="center">
                <div class="option">
                    <div class="center">Animals</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/_environment-plants">
            <div class="center">
                <div class="option">
                    <div class="center">Plants</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/_environment-city">
            <div class="center">
                <div class="option">
                    <div class="center">City</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/_environment-architecture">
            <div class="center">
                <div class="option">
                    <div class="center">Architecture</div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}