{% extends "base.html" %}

{% block css %}
<style>
    .option {
        padding: 15px;
        width: 90%;
    }

    .option:hover {
        background: var(--gradient-right);
    }
</style>
{% endblock %}

{% block page_title %}Choose a topic{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="center">
    <div class="error">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="center">
    <div style="margin-top: 20px;" class="container">
        <a href="../vocabulary_for_topic/a1l1">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 1</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l2">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 2</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l3">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 3</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l4">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 4</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l5">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 5</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l6">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 6</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l7">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 7</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l8">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 8</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l9">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 9</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l10">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 10</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l11">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 11</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/a1l12">
            <div class="center">
                <div class="option">
                    <div class="center">Lektion 12</div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}