{% extends "base.html" %}

{% block css %}
<style>
    .option {
        padding: 15px;
        width: 90%;
    }

    .option:hover {
        background: var(--gradient-right);
    }
</style>
{% endblock %}

{% block page_title %}Choose a topic{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="center">
    <div class="error">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="center">
    <div style="margin-top: 20px;" class="container">
        <a href="../vocabulary_for_topic/health-diseases">
            <div class="center">
                <div class="option">
                    <div class="center">Diseases</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-doctors">
            <div class="center">
                <div class="option">
                    <div class="center">Doctors</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-injuries">
            <div class="center">
                <div class="option">
                    <div class="center">Injuries</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-first-aid">
            <div class="center">
                <div class="option">
                    <div class="center">First Aid</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-hospital">
            <div class="center">
                <div class="option">
                    <div class="center">Hospital</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-dentist">
            <div class="center">
                <div class="option">
                    <div class="center">Dentist</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-eye_specialist">
            <div class="center">
                <div class="option">
                    <div class="center">Eye specialist</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-pregnancy">
            <div class="center">
                <div class="option">
                    <div class="center">Pregnancy</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-birth">
            <div class="center">
                <div class="option">
                    <div class="center">Birth</div>
                </div>
            </div>
        </a>
        <a href="../vocabulary_for_topic/health-alternative_therapies">
            <div class="center">
                <div class="option">
                    <div class="center">Alternative therapies</div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}