{% extends "base.html" %}
{% block imports %}
{% endblock %}
{% block css %}
<style>
    .option {
        padding: 15px;
        width: 90%;
    }

    .option:hover {
        background: var(--gradient-right);
    }
</style>
{% endblock %}


{% block body %}
<div class="center">
    <h1 class="title">Conjugation drill</h1>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="center">
    <div class="error">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="center">
    <div style="margin-top: 20px;" class="container shadow">
        <a href="{{ url_for('conjugation_drill_for_verb', tense=tense, verb='ser') }}">
            <div class="center">
                <div class="option">
                    <div class="center">Ser</div>
                </div>
            </div>
        </a>
        <a href="{{ url_for('conjugation_drill_for_verb', tense=tense, verb='estar') }}">
            <div class="center">
                <div class="option">
                    <div class="center">Estar</div>
                </div>
            </div>
        </a>
        <a href="{{ url_for('conjugation_drill_for_verb', tense=tense, verb='haber') }}">
            <div class="center">
                <div class="option">
                    <div class="center">Haber</div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}