{% extends "base.html" %}
{% block imports %}
{% endblock %}
{% block css %}
{% endblock %}


{% block body %}
<div style="margin-top: 200px;" class="center">
    <p style="font-size: 40px;">Error 404</p>
</div>
<div class="center">
    <p style="font-size: 40px;">Page not found</p>
</div>
<div class="center">
    <p style="font-size: 40px;">We are sorry</p>
</div>
<div class="center">
    <a href="{{ url_for('index') }}"><button style="margin-top: 20px;">Home page</button></a>
</div>
{% endblock %}