{% extends "base.html" %}
{% block imports %}
{% endblock %}
{% block css %}
<style>
    .flag-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 650px) {
        .flag-container {
            display: block;
        }

        .flags-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    .flag-pic {
        width: 200px;
        height: 200px;
    }

    .background-div {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        display: grid;
        place-items: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 10px;
    }

    .img {
        height: 20px;
        width: 20px;
        background-color: white;
        float: left;
        padding: 10px;
        border-radius: 10px 0 0 10px;
    }

    .img img {
        height: 20px;
        width: 20px;
    }

    .content {
        display: flex;
        align-items: center;
        height: 20px;
        width: 140px;
        background: var(--gradient-right);
        float: right;
        padding: 10px;
        border-radius: 0 10px 10px 0;
    }

    .content-verbs {
        display: flex;
        align-items: center;
        height: 20px;
        width: 180px;
        background: var(--gradient-right);
        float: right;
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
    }

    @media screen and (min-width: 500px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (min-width: 700px) {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>
{% if current_user.language == "italian" %}
{% set random_city = ["rome", "venice", "milan"] | random %}
<style>
    .background-div {
        background-image: url("/static/images/{{ random_city }}.jpg");
    }
</style>
{% elif current_user.language == "german" %}
{% set random_city = ["berlin","frankfurt","munich","leipzig"] | random %}
<style>
    .background-div {
        background-image: url("/static/images/{{ random_city }}.jpg");
    }
</style>
{% elif current_user.language == "spanish" %}
<style>
    .background-div {
        background-image: url("/static/images/malaga.jpg");
    }
</style>
{% else%}
<style>
    .background-div {
        background-image: url("/static/images/europe.jpg");
    }
</style>
{% endif %}

{% endblock %}

{% block body %}
<div class="background-div">
    <div class="center">
        <div style="padding: 10px; background-color: rgba(0, 0, 0, .8); border-radius: 10px">
            <div class="center">
                <h1 class="title">EuroDict</h1>
            </div>
        </div>
    </div>
</div>
<div class="center" style="margin: 20px 0 0 0;">
    <p style="font-size: 20px;"><i>"A different language is a different vision of life."</i></p>
</div>
<div class="center" style="margin: 0 0 20px 0;">
    <p><b>Federico Fellini</b></p>
</div>
<!-- Check if the user is logged -->
{% if current_user.is_authenticated %}
<div class="center">
    <p>Vocabulary</p>
</div>
<div class="center">
    <div class="grid">
        <!--Loop trough all topics -->
        {% for topic in topics %}
        <div class="option" style="width: 200px; height: 50px;">
            {% set img_url = url_for('static', filename='icons/vocabulary/' + topic + '.png') %}
            {% set a_url = url_for('vocabulary_for_topic', topic=topic) %}
            <a href="{{ a_url }}">
                <div class="img shadow"><img src="{{img_url}}" alt=""></div>
                <div class="content shadow">{{ topic | capitalize }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="center">
    <p>Conjugation drills</p>
</div>
<div class="center">
    <div class="grid">
        <!--Loop trough all topics -->
        {% for tense in tenses %}
        {% set a_url = url_for('conjugation_drill_for_tense', language=current_user.language, tense=tense) %}
        <a href="{{ a_url }}">
            <div class="option" style="width: 200px; height: 50px;">
                <div class="content-verbs shadow">{{ tense }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="center">
    <p>Lessons</p>
</div>
<div class="center">
    <div class="grid">

        {% for lesson in lessons_list %}
        {% set a_url = url_for('lesson_for_topic', topic=lesson, language=current_user.language) %}
        <a href="{{ a_url }}">
            <div class="option" style="width: 200px; height: 50px;">
                <div class="content-verbs shadow">{{ lesson | capitalize }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% else %}

<div class="flags-container">
    <div class="flag-container">
        <div>
            <img class="flag-pic" src="{{ url_for('static', filename='images/italy_flag_big.png') }}" alt="">
            <div class="center">
                <p>Learn Italian</p>
            </div>
        </div>
    </div>
    <div class="flag-container">
        <div>
            <img class="flag-pic" src="{{ url_for('static', filename='images/spain_flag_big.png') }}" alt="">
            <div class="center">
                <p>Learn Spanish</p>
            </div>
        </div>
    </div>
    <div class="flag-container">
        <div>
            <img class="flag-pic" src="{{ url_for('static', filename='images/germany_flag_big.png') }}" alt="">
            <div class="center">
                <p>Learn German</p>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}