{% extends "base.html" %}
{% block imports %}
{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}


{% block body %}
<div class="center">
    <h1 class="title">Lessons</h1>
</div>
<div class="center">
    <div class="container shadow">
        <a href="{{ url_for('lesson_for_topic', topic='the_alphabet', language='italian')}}">
            <div class="center">
                <div class="option">
                    <div class="center">The alphabet and pronunciation</div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}