{% extends "base.html" %}
{% block imports %}
{% endblock %}

{% block css %}
{% endblock %}



{% block body %}
<a href="{{ url_for('index') }}">
    <svg class="svg-x" width="16" height="16" viewBox="0 0 16 16">
        <g fill="none" fill-rule="evenodd">
            <path 
            fill="#fff"
            d="M6.93 8l-4.7-4.7a.76.76 0 1 1 1.06-1.08L8 6.92l4.7-4.7a.76.76 0 0 1 1.08 1.07L9.08 8l4.7 4.7a.76.76 0 1 1-1.07 1.08L8 9.08l-4.7 4.7a.76.76 0 0 1-1.08-1.07L6.92 8z">
            </path>
        </g>
    </svg>
</a>
<div class="center">
    <h1 class="title">Your profile</h1>
</div>
<div class="center">
    <table>
        <caption>Your data</caption>
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ current_user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ current_user.username }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ current_user.language | capitalize}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="center"><p>{{ message }}</p></div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="center">
    <form class="shadow" action="{{ url_for('change_password') }}" method="POST">
        <div class="center"><input placeholder="Current password" type="password" name="old_password" id="old_password" required></div>
        <div class="center"><input placeholder="New password" type="password" name="new_password" id="new_password" required></div>
        <div class="center"><input type="submit" name="submit" value="Change password"></div>
    </form>
</div>

<div class="center">
    <form class="shadow" action="{{ url_for('change_username') }}" method="POST">
        <div class="center"><input placeholder="Password" type="password" name="password" required></div>
        <div class="center"><input placeholder="New username" type="text" name="new_username" required></div>
        <div class="center"><input type="submit" name="submit" value="Change username"></div>
    </form>
</div>

<!-- Create a change language form -->
<div class="center">
    <form class="shadow" action="{{ url_for('change_language') }}" method="POST">
        <div class="center">
            <select name="new_language" id="language">
                <option value="spanish">Spanish</option>
                <option value="italian">Italian</option>
                <option value="german">German</option>
            </select>
        </div>
        <div class="center"><input type="submit" name="submit" value="Change language"></div>
    </form>
</div>

<div class="center">
    <input onclick="confirmDeletion()" type="submit" name="delete" value="Delete profile">
</div>

<script>
    function confirmDeletion() {
        if (confirm("Are you sure you want to delete your profile?")) {
            window.location.href = "{{ url_for('delete_profile') }}";
        }
    }
</script>

{% endblock %}