{% extends "base.html" %}
{% block imports %}
{% endblock %}

{% block css %}
<style>
    .option {
        padding: 15px;
        width: 90%;
    }

    .option:hover {
        background: var(--gradient-right);
    }
</style>
{% endblock %}


{% block body %}
<a href="{{ url_for('index') }}">
    <svg class="svg-x" width="16" height="16" viewBox="0 0 16 16">
        <g fill="none" fill-rule="evenodd">
            <path 
            fill="#fff"
            d="M6.93 8l-4.7-4.7a.76.76 0 1 1 1.06-1.08L8 6.92l4.7-4.7a.76.76 0 0 1 1.08 1.07L9.08 8l4.7 4.7a.76.76 0 1 1-1.07 1.08L8 9.08l-4.7 4.7a.76.76 0 0 1-1.08-1.07L6.92 8z">
            </path>
        </g>
    </svg>
</a>

<div class="center">
    <h1 class="title">Choose a topic</h1>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="center">
    <div class="error">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="center">
    <div class="container shadow">
        <div class="center">
            <h3>Instructions</h3>
        </div>
        <p>
            These are the topics you can practice.
            For every noun, you have to provide a definite article (il/la/l').<br>
            For example: lo zaino
        </p>
    </div>
</div>
<div class="center">
    <div style="margin-top: 20px;" class="container shadow">
        <a href="vocabulary_for_topic/foods">
            <div class="center">
                <div class="option">
                    <div class="center">Foods</div>
                </div>
            </div>
        </a>
        <a href="vocabulary_for_topic/drinks">
            <div class="center">
                <div class="option">
                    <div class="center">Drinks</div>
                </div>
            </div>
        </a>
        <a href="vocabulary_for_topic/fruits">
            <div class="center">
                <div class="option">
                    <div class="center">Fruits</div>
                </div>
            </div>
        </a>
        <a href="vocabulary_for_topic/transport">
            <div class="center">
                <div class="option">
                    <div class="center">Transport</div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}