{% extends "base.html" %}

{% block css %}
<style>
</style>
{% endblock %}

{% block body %}
<a href="{{ url_for('lessons') }}">
    <svg class="svg-x" width="16" height="16" viewBox="0 0 16 16">
        <g fill="none" fill-rule="evenodd">
            <path fill="#fff"
                d="M6.93 8l-4.7-4.7a.76.76 0 1 1 1.06-1.08L8 6.92l4.7-4.7a.76.76 0 0 1 1.08 1.07L9.08 8l4.7 4.7a.76.76 0 1 1-1.07 1.08L8 9.08l-4.7 4.7a.76.76 0 0 1-1.08-1.07L6.92 8z">
            </path>
        </g>
    </svg>
</a>
<div class="center">
    <h1 class="title">Definite articles and their usage</h1>
</div>
<div class="center">
    The italian definite articles are only 6 (il, lo, la, l', i, gli, le) and they are very easy to use
</div>
<div class="center" style="margin-top: 20px;">
    <table>
        <tr>
            <th>Article</th>
            <th>Usage</th>
        </tr>
        <tr>
            <td>il</td>
            <td><i>il</i> is used most singular masculine nouns</td>
        </tr>
        <tr>
            <td>lo</td>
            <td><i>lo</i> is used for exceptional masculine nouns*</td>
        </tr>
        <tr>
            <td>la</td>
            <td><i>la</i> is used for feminine nouns</td>
        </tr>
        <tr>
            <td>l'</td>
            <td><i>l'</i> is used for singular nouns that start with a vowel</td>
        </tr>
        <tr>
            <td>i</td>
            <td><i>i</i> is used for regular masculine plural nouns</td>
        </tr>
        <tr>
            <td>gli</td>
            <td><i>gli</i> is used for masculine nouns that use <i>lo</i> or <i>l'</i></td>
        </tr>
        <tr>
            <td>le</td>
            <td><i>le</i> is used for all feminine plural nouns</td>
        </tr>
    </table>
</div>
<div class="center" style="margin-top: 20px;">
    <p>Exceptional nouns are those that start with <i>s+consonant</i>/<i>z</i>/<i>x</i>.</p>
</div>

<div class="center" style="margin-top: 20px;">
    <table>
        <tr>
            <th>Article</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>il</td>
            <td>il ragazzo, il bicchiere, il vino</td>
        </tr>
        <tr>
            <td>lo</td>
            <td>lo zaino, lo studente, lo xilofono</td>
        </tr>
        <tr>
            <td>la</td>
            <td>la ragazza, la tazza</td>
        </tr>
        <tr>
            <td>l'</td>
            <td>l'amico</td>
        </tr>
        <tr>
            <td>i</td>
            <td>i ragazzi, i colori, i limoni</td>
        </tr>
        <tr>
            <td>gli</td>
            <td>gli zaini, gli amici</td>
        </tr>
        <tr>
            <td>le</td>
            <td>le ragazze, le donne</td>
        </tr>
    </table>
</div>
{% endblock %}